$font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;
$header-color: #96b6c5;
$classroom-green: #20a464;
$calendar-blue: #1967d2;
$gmail-orange: #fbbc05;
$top-widget-height: 40vh;
$onepx-solid: 1px solid black;
$gmail-blue: #3e65cf;
$gmail-red: #c71610;
$calendar-yellow: #fbbc04;
$calendar-green: #34a853;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

* {
  font-family: $font;
}
.todoOverlay
{
  border-radius: 8px;
  text-align: center;

  z-index: 1;
  display:block;
  width:100vh;
}
.toDoOverlayContainer
{
  margin-top:2%;
  border:1px solid black;
  z-index: 2;
  cursor: pointer;
}
.inputBoxes
{
  list-style: none;
  text-align: left;
  float:left;
  
}
.inputBoxes input
{
  border:0;
  outline:0;
}
.taskNameInput
{
  text-align:left;
  font-size:25px;
  width:85vh;
  font-weight:bold;

}
.taskDescriptionInput
{
  font-size:20px;
}

.bottomBar
{
  margin-top:2%;
  margin-left:0.5%;
  display:flex;
  flex-direction:row;
  column-gap:5%;
}
.priority, .dueDate
{
  border:$onepx-solid;
  padding:5px;
}
.priorityInput
{
  outline:0;
  border:0;
}
.todoOptions
{
  display:flex;
  margin-top:2%;
  margin-left:80%; 
  column-gap:20%;
}
.closeButton
{
  background-color:$gmail-red;
  color:white;

}
.createButton
{
  background:$gmail-blue;
  color:white;
}
.todoOptions button
{
  border:none;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px;
  padding-left:10px;
  font-weight:bold;
  border-radius:2px;
}
.todoOptions button:hover
{
  color:white;
  background-color:black;
}
.todoDescription
{
  font-weight:bold;
  display:block;
  opacity:50%;
  margin:0;
}
.toDoInfo
{
  display:block;
  border-bottom:$onepx-solid;
  margin-top:5px;

}

.toDoInfo
{
  text-align: left;
  width:50vh;
  text-indent: 5px;
}
.todoDueDate
{
  margin:0;
  margin-top:2px;
  color:red;
  font-weight:bold;
}
.toDoTitle
{
  margin:0;
  font-size:25px;
}
.createToDoButton
{
  border:0;
  outline:0;
  background-color: transparent;
  font-size:15px;
  color:grey;
  margin:0;
  opacity:100%;
}
.newtaskImage
{
  height:20px;
  margin:0;
}
.createToDoButtonContainer
{
  display:flex;
  justify-content: center;
}
.createToDoButtonContainer:hover
{
  filter:invert(72%) sepia(35%) saturate(201%) hue-rotate(154deg) brightness(92%) contrast(90%);
}
.toDoElementContainers {
  height:70vh;
}