$font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;
$header-color: #96b6c5;
$classroom-green: #20a464;
$calendar-blue: #1967d2;
$gmail-orange: #fbbc05;
$top-widget-height: 40vh;
$onepx-solid: 1px solid black;
$gmail-blue: #3e65cf;
$gmail-red: #c71610;
$calendar-yellow: #fbbc04;
$calendar-green: #34a853;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
* {
  font-family: $font;
}

.headercontainer {
  background-color: $header-color;
  margin: -0.6%;
  padding-bottom: 1%;
  padding-top: 1%;
  height: 100%;
}

.headerelementscontainer {
  margin-top: 0.2%;
  display: flex;
}
.searchbar {
  text-align: left;
  padding-right: 5%;
  margin-right: 1%;
  margin-top: 0.7%;
  margin-bottom: 0.7%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  text-indent: 5%;
}

.searchbar::placeholder {
  opacity: 1;
  color: white;
  margin-left: 5%;
  font-size: 20px;
  text-indent: 5%;
}

.hamburgermenu1,
.hamburgermenu2,
.hamburgermenu3 {
  width: 40px;
  height: 7px;
  background-color: white;
  margin: 9px 0;
  border-radius: 5px;
}
.hamburgermenucontainer {
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 1%;
}
.hamburgermenucontainer:hover {
  cursor: pointer;
}

.hamburgermenucontainer.open .hamburgermenu1 {
  transform: rotate(-45deg) translate(-15px, 6px);
}

.hamburgermenucontainer.open .hamburgermenu2 {
  opacity: 0;
}

.hamburgermenucontainer.open .hamburgermenu3 {
  transform: rotate(45deg) translate(-15px, -6px);
}
.headertitle {
  color: white;
  text-align: center;
  width: 50%;
  margin: auto;
}
.headertitle:hover,
.homeicon:hover {
  cursor: pointer;
}
.homeicon {
  width: 60px;
  height: 60px;
  margin-right: 5%;
  color: white;
  margin-left: 1%;
  filter: invert(100%);
}

.widgettitle {
  text-align: center;
  font-size: 28px;
  margin-right: 1.5%;
}
.widgettitleborder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: $onepx-solid;
  border-bottom: $onepx-solid;
  padding-bottom: 2%;
  padding-top: 2%;
}
.topwidgetcontainer {
  display: flex;
  margin-top: 2%;
  column-gap: 1%;
  overflow-x: hidden;
}
.calendarwidgetheader {
  background-color: $calendar-blue;
}

.classroomwidgetheader {
  background-color: $classroom-green;
}

.gmailwidgetheader {
  background-color: $gmail-orange;
}
.gmailwidgetheader,
.calendarwidgetheader,
.classroomwidgetheader {
  color: white;
}
.calendarwidget {
  flex: 1.5;
  height: $top-widget-height;
  border: $onepx-solid;
  border-top: 0;
}
.classroomwidget {
  height: $top-widget-height;
  border: $onepx-solid;
  border-top: 0;
  flex: 1;
  overflow-y: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
.gmailwidget {
  height: $top-widget-height;
  border: $onepx-solid;
  border-top: 0;
  flex: 0.8;
  height: 81.8vh;
}
.gmailwidget::-webkit-scrollbar {
  display: none;
}
.bottomwidgetcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  width: 74.2%;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 10px;
  right: 0;
}
.timerwidget,
.projectswidget,
.todowidget {
  border: $onepx-solid;
  border-top: 0;
  height: 37.3vh;
}

.projectswidget
{
  margin-right:4%;
}
.widgetimage {
  height: 50px;
  margin-right: 1.5%;
}
.subpagewidgettitleborder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.widgetimagesubpage {
  height: 50px;
  margin-right: 1%;
}
h1 {
  margin: 0;
}
.subpagewidgettitle {
  margin-right: 1%;
}
/* Dropdown Button */
.classroomdropdownbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.classroomdropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentclassroom {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentclassroom a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentclassroom a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu on hover */
.classroomdropdown:hover .dropdown-contentclassroom {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.classroomdropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.classroomwidgetborder {
  border-bottom: $onepx-solid;
  height: 15%;
  display: flex;
  align-items: center;
}
.widgetname {
  text-indent: 7%;
  text-align: left;
  border: 0;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-right: 8%;
}
.classroomboxcontainer {
  display: flex;
  column-gap: 1%;
  justify-content: center;
  margin-top: 2%;
  height: 70vh;
  font-size: 15px;
}
.widgetcontainer1,
.widgetcontainer2,
.widgetcontainer3 {
  border-radius: 5px;
  border: $onepx-solid;
}
.widgetcontainer1 {
  flex: 1.8;

  width: 100%;
}
.widgetcontainer2 {
  flex: 2.2;
}
.widgetcontainer3 {
  flex: 1.5;
}

.widgetcontainer1 .classroomwidgetborder {
  background-color: $classroom-green;
}
.widgetcontainer2 .classroomwidgetborder {
  background-color: $gmail-orange;
}
.widgetcontainer3 .classroomwidgetborder {
  background-color: $calendar-blue;
}
.widgetcontainer1 .classroomdropdownbtn,
.widgetcontainer1 .dropdown-contentclassroom {
  width: 61.25vh;
}

.widgetcontainer2 .classroomdropdownbtn,
.widgetcontainer2 .dropdown-contentclassroom {
  width: 74.8vh;
}
.widgetcontainer3 .classroomdropdownbtn,
.widgetcontainer3 .dropdown-contentclassroom {
  width: 51vh;
}

.classroomsubtitle {
  display: flex;
}

.widget-link {
  margin: 0;
  text-decoration: none;
  color: #000;
  padding: 0;
}
.gmaildropdownbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.gmaildropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentgmail {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentgmail a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentgmail a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu on hover */
.gmaildropdown:hover .dropdown-contentgmail {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.gmaildropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.gmailwidgetborder {
  border-bottom: $onepx-solid;
  height: 15%;
  display: flex;
  align-items: center;
}
.widgetname {
  text-indent: 7%;
  text-align: left;
  border: 0;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-right: 8%;
}
.gmailboxcontainer {
  display: flex;
  column-gap: 1%;
  justify-content: center;
  margin-top: 2%;
  height: 70vh;
  font-size: 15px;
}

.widgetcontainer1 .gmailwidgetborder {
  background-color: $gmail-red;
}
.widgetcontainer2 .gmailwidgetborder {
  background-color: $gmail-blue;
}
.widgetcontainer3 .gmailwidgetborder {
  background-color: $gmail-orange;
}
.widgetcontainer1 .gmaildropdownbtn,
.widgetcontainer1 .dropdown-contentgmail {
  width: 61.25vh;
}

.widgetcontainer2 .classroomdropdownbtn,
.widgetcontainer2 .dropdown-contentclassroom {
  width: 74.8vh;
}
.widgetcontainer3 .classroomdropdownbtn,
.widgetcontainer3 .dropdown-contentclassroom {
  width: 51vh;
}

.down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0;
}
.gmailsubtitle {
  display: flex;
}

.widget-link {
  margin: 0;
  text-decoration: none;
  color: #000;
  padding: 0;
}
.timersidebar {
  border: $onepx-solid;
  width: 20%;
  height: 83vh;
  background-color: white;
  margin-top: -5%;
  margin-left: -0.6%;
  margin-right: 2%;
}
.timersidebaritems {
  list-style: none;
  margin: 0;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #00000050;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.timersidebaritems.active {
  color: black;
  font-size: larger;
  font-weight: bold;
}
.timersidebaritems:hover {
  color: black;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
.timersidebarheader {
  margin-top: 5%;
  text-indent: 5%;
}
.sidebarimg {
  width: 50px;
}
.sidebartext {
  margin: 0;
  margin-right: 30%;
  margin-left: 5%;
}
.timerwidgetcontainer {
  display: flex;
}
.subpagewidget {
  border: $onepx-solid;
  width: 75%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timerpagelist {
  list-style: none;
  display: flex;
  justify-content: center;
}
.timerbutton {
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: $gmail-blue;
  color: white;
  font-weight: bold;
}
.timerbuttons {
  display: flex;
  margin-right: 10%;
  margin-top: 5%;
}
.timer {
  margin-top: 1%;
}

.todosidebar {
  border: $onepx-solid;
  width: 20%;
  height: 83vh;
  background-color: white;
  margin-top: -5%;
  margin-left: -0.6%;
  margin-right: 2%;
}
.todosidebaritems {
  list-style: none;
  margin: 0;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #00000050;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.todosidebaritems.active {
  color: black;
  font-size: larger;
  font-weight: bold;
}
.todosidebaritems:hover {
  color: black;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
.todosidebarheader {
  margin-top: 5%;
  text-indent: 5%;
}
.sidebartext {
  margin: 0;
  margin-right: 30%;
  margin-left: 5%;
}
.todowidgetcontainer {
  display: flex;
}
.todotitle {
  text-align: center;
  margin-top: 1%;
}

.projectssidebar {
  border: $onepx-solid;
  width: 20%;
  height: 83vh;
  background-color: white;
  margin-top: -5%;
  margin-left: -0.6%;
  margin-right: 2%;
}
.projectssidebaritems {
  list-style: none;
  margin: 0;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #00000050;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.projectssidebaritems.active {
  color: black;
  font-size: larger;
  font-weight: bold;
}
.projectssidebaritems:hover {
  color: black;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
.projectssidebarheader {
  margin-top: 5%;
  text-indent: 5%;
}
.projectsbartext {
  margin: 0;
  margin-right: 30%;
  margin-left: 5%;
}
.projectswidgetcontainer {
  display: flex;
}
.projectstitle {
  text-align: center;
  margin-top: 1%;
}

.calendardropdownbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.calendardropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentcalendar {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentcalendar a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentcalendar a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu on hover */
.calendardropdown:hover .dropdown-contentcalendar {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.calendardropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.calendarwidgetborder {
  border-bottom: $onepx-solid;
  height: 15%;
  display: flex;
  align-items: center;
}
.calendarboxcontainer {
  display: flex;
  column-gap: 1%;
  justify-content: center;
  margin-top: 2%;
  height: 70vh;
  font-size: 15px;
}
.widgetcontainer1,
.widgetcontainer2,
.widgetcontainer3 {
  border-radius: 5px;
  border: $onepx-solid;
}
.widgetcontainer1 {
  flex: 1.8;
  width: 100%;
}
.widgetcontainer2 {
  flex: 2.2;
}
.widgetcontainer3 {
  flex: 1.5;
}

.widgetcontainer1 .calendarwidgetborder {
  background-color: $calendar-blue;
}
.widgetcontainer2 .calendarwidgetborder {
  background-color: $calendar-green;
}
.widgetcontainer3 .calendarwidgetborder {
  background-color: $calendar-yellow;
}
.widgetcontainer1 .calendardropdownbtn,
.widgetcontainer1 .dropdown-contentcalendar {
  width: 61.25vh;
}

.widgetcontainer2 .calendardropdownbtn,
.widgetcontainer2 .dropdown-contentcalendar {
  width: 74.8vh;
}
.widgetcontainer3 .calendardropdownbtn,
.widgetcontainer3 .dropdown-contentcalendar {
  width: 51vh;
}

.calendarsubtitle {
  display: flex;
}

.widget-link {
  margin: 0;
  text-decoration: none;
  color: #000;
  padding: 0;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 8px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-indent: 5px;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.googlebuttoncontainer {
  flex-direction: column;
}
.signintitle {
  align-items: center;
  flex-direction: column;
  align-items: center;
}
#signinsubtitle {
  font-weight: lighter;
}
.signinpagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  padding-top: 2%;
}
@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
.signinpage {
  animation: popout 1s ease;
  box-shadow: 5px 5px 15px;
  -webkit-animation: popout 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: $onepx-solid;
  width: 35%;
  padding-bottom: 5%;
  height: 75vh;
  background-color: white;
  border-radius: 10px;
}
.signinbody {
  margin: 0;
  margin-top: -1%;
  padding: 0;
  height: 100%;
  width: 100%;
  margin-left: -1%;
}

.dsbclassroom-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 505px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 5%;
  top: 65%;
  z-index: 1;
}
.dsbclassroom-content a {
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
}

.dsbclassroom-content a:hover {
  background-color: #f1f1f1;
}

.dsb-classroomdropdown:hover .dsbclassroom-content {
  display: block;
  border: 1px solid; /* Corrected syntax for border */
  position: absolute;
}
.dsb-classroomdropdown {
  position: relative;
  display: inline-block;
  display: flex;
}
.dashboarddown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0;
}
.dsb-subtitle {
  display: flex;
  border-bottom: $onepx-solid;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.dsb-widgetname {
  text-align: left !important;
  background-color: white;
  height: 75%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  border-radius: 5px;
  font-size: larger;
  border: $onepx-solid;
  width: 90%;
  text-indent: 2%;
}
.classroom-contentp {
  margin: 5px;
  padding-left: 2%;
}
.classroomcontent {
  text-overflow: ellipsis;
  height: 60%;
  overflow-y: scroll;
}
.classroomcontent::-webkit-scrollbar {
  display: none;
}
.maildashboardcontent {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: scroll; /* Use scroll to allow scrolling */
  min-height: 60vh;
  max-height: 74vh; /* Set a maximum height to avoid excessive scrolling */
}
.maildashboardcontent::-webkit-scrollbar {
  display: none;
}
.gmailcontentp {
  width: 95%;
  margin: 0;
}
.maildashboardtitle {
  font-size: 25px;
  margin: 2%;
}
.gmailcontent {
  padding-bottom: 2%;
  border-top: $onepx-solid;
  background-color: #f5f5f5;
  font-weight: none;
}

.gmailcontenttext {
  margin-left: 2%;
  margin-top: 2%;
}
.gmailcontent.unread {
  background-color: white;
}
.gmailcontent.unread .gmailcontentp .gmailcontentsubject,.gmailcontent.unread .gmailcontentp .gmailcontentsender {
  font-weight: bold;
  margin: 0;
}
.gmailcontent {
  border: 1px solid #ddd;
  padding: 10px;
  transition: background-color 0.1s linear, transform 0.1s linear; 
}

.gmailcontent:hover {
  transform: scale(1.03); 
  cursor: pointer;
  box-shadow: 5px;
}

/* Additional styles for unread emails on hover */
.gmailcontent.unread:hover {
  background-color: #e0e0e0;
}
.calendarEventsContent
{
  overflow-y:scroll;
  height:220px;
  flex:60%;
  font-size:smaller;
  overflow-x:hidden;
  border-right:$onepx-solid;
}
.calendarEventsContent::-webkit-scrollbar
{
  display:none;
}
.eventsHeader
{
  margin:0;
  margin-bottom:2%;
  margin-left:2%;
  margin-top:1%;
  width:99.3%;
}
.calendarEventHeaderContainer
{
  border-bottom:$onepx-solid;
  margin-bottom:1%;

}
.calendarContent
{
  display:flex;
  columns: 2;
}
.miniCalendar
{
  flex:50%;
  height:200px;
}
.eventContent
{
  margin-bottom:2%;
  margin-left:2%;
  font-weight:bold;
  margin-right:2%;
}
.recentTimer
{
  margin-top:5%;
  width:100%;
  text-align: center;
}

.timerTextContainer
{
  display:flex;
  align-items:center;
  justify-content: center;
  height:40%;
}
.timerText
{
  font-size:50px;
}
.timerbuttonsdsb
{
  text-align:center;
}
.starttimerbuttondsb, .endtimerbuttondsb
{
  background-color:$calendar-blue;
  color:white;
  border:0;
  padding-left:5%;
  padding-right:5%;
  border-radius:4px;
  padding-top:3%;
  padding-bottom:3%;
  font-size:larger;
}
.starttimerbuttondsb:hover, .endtimerbuttondsb:hover
{
  opacity:50%;
}
.starttimerbuttondsb
{
  margin-right:5%;
}
.projectdsb
{
  font-size:25px;
  border-bottom:$onepx-solid;
  padding-top:2%;
  padding-bottom:2%;
  font-weight:bolder;
}
.activeprojects
{
  border-bottom:$onepx-solid;
  padding-bottom:3%;
  padding-top:3%;
}
.dsb-tododropdown {
  position: relative;
  display: inline-block;
}


.dashboarddown {
  margin-left: 5px; /* Adjust this as needed */
}

.dsbtodo-content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 98%);
  min-width: 265 px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 19%;
  top: 75%;
  z-index: 1;
}

.dsbtodo-content a {
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  display: block;

}

.dsbtodo-content a:hover {
  background-color: #f1f1f1;

}

.dsb-tododropdown:hover .dsbtodo-content {
  display: block;
  border: 1px solid; /* You need to specify the border color here */
  position: absolute;
}

.dsb-todosubtitle
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:430px;

}
.dsb-todowidgetname {
  text-align: left !important;
  background-color: white;
  height: 75%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  border-radius: 5px;
  font-size: larger;
  border: $onepx-solid;
  padding-right:200px;
  text-indent: 2%;
  text-wrap:nowrap;
  display:flex;
  justify-content: center;
  align-items: center;
}

.overlayTimer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:block;
  background-color: white; 
  border:$onepx-solid;
  z-index: 2;
  cursor: pointer;
  box-shadow: 5px 5px 2px;
}
.overlayTimerContainer
{
  position: fixed;
  top: 40%;
  left: 59%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  text-align: center;
  z-index: 1000;
}
.inputcontainertimer
{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.timerinput {
  margin: 10px;
  text-align: center;
}

.editTimerHeader
{
  background-color: $calendar-blue;
  color:white;
  padding-top:2%;
  padding-bottom:2%; 
  text-align:left;
  text-indent:10px;
  font-size:smaller;
  display:flex;
}
.timersettings
{
  display:block;
  list-style: none;
  text-align:left;
  margin-left:-4%;
}
.timerButtonList
{

  list-style:none;
  text-align:left;
  display:flex;
}

.deleteTimerButton
{
  float:left;
  margin-left:-4%;
}
.saveTimerButton
{
  float:right;
  margin-left:75%;
}
.timerButton
{
  color:white;
  border: none;
  border-radius:2px;
  padding-top:5%;
  padding-bottom:5%;
  margin-bottom:5%;
  font-weight:bold;
  transition: 0.3s;
}
.timerButton:hover
{
  cursor:pointer;
  transition: 0.3s;
  background-color: black !important;

}
#savetimer
{
  background-color:$calendar-green;
}
#deleteTimer
{
  background-color:$gmail-red;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 9%;
  right: 0%;
  padding: 12px 16px;
  font-size:50px;
  color:#000;
  opacity: 65%;
  transform: translate(0%, -50%);
}

.close:hover {color: white;}

.todoitems
{
  height:52%;
  overflow-y: scroll;
}
.todoitems::-webkit-scrollbar
{
  display:none;
}