$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$header-color: #96B6C5;
$classroom-green: #20A464;
$calendar-blue: #1967D2;
$gmail-orange: #FBBC05;
$top-widget-height: 40vh;
$onepx-solid: 1px solid black;

*
{
  font-family: $font;
}

.headercontainer{

  background-color:$header-color;
  margin:-0.6%;
  padding-bottom:1%;
  padding-top:1%;
  height:100%;
  
}

.headerelementscontainer
{
  margin-top:0.2%;
  display:flex;
}
.searchbar {
  text-align: left;
  padding-right: 5%;
  margin-right: 1%;
  margin-top:.7%;
  margin-bottom:0.7%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 2px;
  color:white;font-size:20px;
  text-indent:5%;

}

.searchbar::placeholder{
  opacity: 1; 
  color: white;
  margin-left: 5%;
  font-size:20px;
  text-indent:5%;
}

.hamburgermenu1, .hamburgermenu2, .hamburgermenu3
{
  width: 40px;
  height: 7px;
  background-color: white;
  margin: 9px 0;
  border-radius:5px;

}
.hamburgermenucontainer{
  margin-top:0.5%;
  margin-left:2%;
  margin-right:1%;

}
.hamburgermenucontainer:hover
{
  cursor: pointer;
}

.hamburgermenucontainer.open .hamburgermenu1 {
  transform: rotate(-45deg) translate(-15px, 6px);
}

.hamburgermenucontainer.open .hamburgermenu2 {
  opacity: 0;
}

.hamburgermenucontainer.open .hamburgermenu3 {
  transform: rotate(45deg) translate(-15px, -6px);
}
.headertitle
{
  color:white;
  text-align:center;  
  width:50%;
  margin:auto;
}
.homeicon
{
  width:60px;
  height:60px;
  margin-right:5%;
  color:white;
  margin-left:1%;
  filter: invert(100%)
}

.widgettitle
{
  text-align:center;
  font-size:28px;
  margin-right:1.5%;
}
.widgettitleborder
{
  display:flex;
  align-items: center;
  justify-content: center;
  border-top: $onepx-solid;
  border-bottom: $onepx-solid;
}
.topwidgetcontainer
{
  display:flex;
  margin-top:2%;
  column-gap:1%;
  overflow-x:hidden;
}
.calendarwidgetheader {
  
  background-color: $calendar-blue;
}

.classroomwidgetheader {
  background-color: $classroom-green;
}

.gmailwidgetheader {

  background-color: $gmail-orange;
}
.gmailwidgetheader, .calendarwidgetheader, .classroomwidgetheader
{
  color:white;
}
.calendarwidget {
  flex:1.5;
  height:$top-widget-height;
  border:$onepx-solid;
  border-top: 0;
}
.classroomwidget
{
  height:$top-widget-height;
  border:$onepx-solid;
  border-top: 0;
  flex: 1;
}
.gmailwidget{
  height:$top-widget-height;
  border: $onepx-solid;
  border-top: 0;
  flex:0.8; 
  height:80vh;
}
.bottomwidgetcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  width: 74.2%;
  justify-content: space-between;
  position: absolute;
  top:60%;
  bottom: 0;
  left: 10px;
  right: 0;

}
.timerwidget, .projectswidget, .todowidget
{
  border: $onepx-solid;
  border-top:0;
  height:37.3vh;
}

.widgetimage
{
  height:50px;
  margin-right:1.5%;
}
